body {
    font-family: "Segoe UI", "Helvetica Neue", Arial, Tahoma, sans-serif;
    font-size: 16px;
}

button {
    font-family: "Segoe UI", "Helvetica Neue", Arial, Tahoma, sans-serif;
    font-size: 18px;
}

.login-page {
    display: flex;
    width: 700px;
    padding-top: 50px;
    margin: auto;
    justify-content: space-around;
}

.login-page form label {
    /*display: block;*/
    /*padding: 15px 0;*/
}

.login-page form button {
    /*display: block;*/
    /*padding: 15px 0;*/
}

#TeacherLoginButton,
#StudentLoginButton {
    height: 80px;
    padding: 0 50px;
    background: sandybrown;
    color: black;
    border: none;
    border-radius: 5px;
}

#TeacherLoginButton:hover,
#StudentLoginButton:hover {
    background: tomato;
}

#TeacherLoginButton:active,
#StudentLoginButton:active,
#TeacherLoginButton:focus,
#StudentLoginButton:focus {
    background: lightseagreen;
}


#StudentLoginButton {

}

#TeacherLoginButton {

}

.hidden {
    display: none;
}

.inline-block {
    display: inline-block;
}

.meeting {
    display: grid;
    width: 500px;
    grid-template-areas:
            "name  image"
            "descr image"
            "subm subm";
}
.meeting label {
    display: block;
}

.meeting-name {
    grid-area: name;
}

.meeting-description {
    grid-area: descr;
}

.meeting-image {
    grid-area: image;

    width: 320px;
    height: 200px;
}

.meeting-create {
    grid-area: subm;
}

.question-wrapper {
    display: grid;
    grid-template-areas: "question" "answers";
    grid-row-gap: 20px;
}

.question {
    grid-area: question;
    font-weight: bold;
    font-size: 34px;
}

.answers {
    display: flex;
    flex-wrap: wrap;
    font-size: 28px;
}

.answer-choice {
    color: white;
    text-align: center;
    flex: 0 46%;
    padding: 50px 0;
    cursor: pointer;
    margin: 4px;
}

.question-wrapper input {
    display: none;
}

.answer-choice:nth-child(1) {
    background: sandybrown;
}

.answer-choice:nth-child(2) {
    background: tomato;
}

.answer-choice:nth-child(3) {
    background: crimson;
}

.answer-choice:nth-child(4) {
    background: #6a4a3c;
}

input#answer1:checked ~ .answers .answer1 {
    background: lightseagreen;
}

input#answer2:checked ~ .answers .answer2 {
    background: lightseagreen;
}

input#answer3:checked ~ .answers .answer3 {
    background: lightseagreen;
}

input#answer4:checked ~ .answers .answer4 {
    background: lightseagreen;
}
